<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="{{site.baseurl}}/">제고의실체</a></li>
              <li class="link"><a href="{{site.baseurl}}/about/">이 웹사이트에 대하여</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">모든 글</a></li>
              <li class="dropdown link">
                <a href="#" class="dropbtn">Dropdown ↓</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </li>
            <li class="link"><a href="{{site.baseurl}}/contact/">연락(개발중)</a></li>
            </ul>
    </nav>
</div>
 
