<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link" style="background-color: #37c376"><a href="{{site.baseurl}}/">{{site.title}}</a></li>
              <li class="link"><a href="{{site.baseurl}}/about/">웹사이트 소개</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">글 모음</a></li>
              <li class="dropdown link">
                <a href="#" class="dropbtn">쓸데없음</a>
                <div class="dropdown-content">
                  <a href="#">링크 뭐걸지?1</a>
                  <a href="#">링크 뭐걸지?2</a>
                  <a href="#">링크 뭐걸지?13</a>
               
                </div>
              </li>
               <li class="link"><a href="{{site.baseurl}}/contact/">Contact</a></li>
            </ul>
    </nav>
</div>
